In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("target_analysis.csv")
df.shape

(1459, 6)

In [3]:
df.head()

,Id,SalePrice_147,SalePrice_129,difference_147,SalePrice_406,difference_406
0,1461,109937.7044,129542.55,19604.845580,169277.0525,39734.50250
1,1462,162112.9067,161306.83,806.076735,187758.3940,26451.56399
2,1463,187463.1269,185061.95,2401.176892,183583.6836,1478.26643
3,1464,196156.8515,192490.92,3665.931534,179317.4775,13173.44249
4,1465,197332.1008,192915.08,4417.020780,150730.0800,42185.00002

In [4]:
features_for_analysis = ['SalePrice_147',	'SalePrice_129',	'difference_147']

df[features_for_analysis].describe()

       SalePrice_147  SalePrice_129  difference_147
count    1459.000000    1459.000000     1459.000000
mean   175306.547282  177439.597619    12868.708680
std     77321.506358   75599.423168    14365.476170
min     40696.157500   48284.120000        8.408012
25%    122617.901000  128043.765000     4049.784543
50%    155372.238500  156189.220000     8779.218827
75%    208661.932900  207557.565000    16897.923805
max    542215.696000  514338.880000   291627.689500